.container{
    width: 1200px;
}
.login{
    margin-top: 100px;
}
.form-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
}
.form-submit{
    width: 100%;
}
.form-submit h2{
    margin: 50px 0;
}
.form-submit input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    outline: none;
}
.form-submit p:nth-child(4){
float: right;
margin: 20px 0;
}
.form-submit button{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    color: #fff;
}
.form-submit button:nth-child(5){
    background-color:#28a745 ;
}
.form-submit :nth-child(6){
    font-weight: bolder;
    margin: 10px 0;
}
.form-submit button:nth-child(7){
    background-color:#3b5998 ;
}
.form-submit button:nth-child(8){
    background-color:#000 ;
}
.form-submit button:nth-child(9){
    background-color:#e4002b ;
}
.form-submit p:nth-child(10){
    text-align: center;
    margin: 20px 0;
}